<!-- <dx-form id="form" [formData]="employee"> -->
<form (ngSubmit)="cobaAdd(f)" #f="ngForm">
  <dx-form id="form">
    <dxi-item>
      <dx-calendar [value]="currentValue"></dx-calendar>
    </dxi-item>
    <dxi-item>
      <dx-text-box name="email" email required #emailControl="ngModel" [(ngModel)]="email"
        [validationError]="{ message: 'Email is invalid'}" placeholder="Coba detail" [showClearButton]="true">
      </dx-text-box>
    </dxi-item>
    <dxi-item>
      <dx-check-box [value]="true" [(ngModel)]="checkBox"></dx-check-box>
    </dxi-item>

    <dxi-item>
      <dx-date-box [value]="currentValue" type="date" placeholder="12/31/2018, 2:52 PM" [showClearButton]="true"
        displayFormat="shortdate">
      </dx-date-box>
    </dxi-item>
  </dx-form>
</form>
