
.dx-datagrid {
  background-color: red;
  width: 100%;
}

::ng-deep #gridContainer {
  height: 440px;
}


::ng-deep .dx-datagrid-borders .dx-datagrid-headers .dx-datagrid-table   {
  font-weight: bold;
}

::nd-deep .dx-datagrid-rowsview .dx-datagrid-content:not(.dx-datagrid-content-fixed) {
 background-color: red;
}

::ng-deep .dx-theme-generic-typography h1 {
  text-align: center;
}

::ng-deep .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link {
  color: black;
}

::ng-deep .dx-command-edit.dx-command-edit-with-icons {
  display: flex;
  justify-content: center;
}

::ng-deep #detailButton, #deleteButton {
  border: none;
  background-color: transparent;
  padding: 0;
}

::ng-deep .dx-template-wrapper {
  display: inline;
}

::ng-deep .dx-button-has-icon .dx-button-content {
  padding: 0;
}

::ng-deep #detailButton .dx-button-content, #deleteButton .dx-button-content {
  padding: 0;
}

::ng-deep .dx-checkbox-indeterminate .dx-checkbox-icon::before {
  background-color: transparent;
}

/* ::ng-deep .dx-field-value-static, .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
  width: none;
}

::ng-deep .dx-field-value {
  float: left;
} */
