<dx-load-panel [(visible)]="isLoading" [shading]="false" [position]="{of: 'window', my: 'top' }">
</dx-load-panel>

<div class="container" id="container">
  <!--! Datagrid -->
  <dx-data-grid [dataSource]="posts" [showBorders]="true" id="postsTable" [columnAutoWidth]="true"
    [allowColumnReordering]="true" [repaintChangesOnly]="true" keyExpr="id" (onSaving)="onSaving($event)"
    (onInitNewRow)="onInitNewRow($event)" (onSaved)="onSaved()">

    <!--! Column2 dari Datagrid -->
    <dxi-column dataField="id" dataType="number" [visible]="false"></dxi-column>
    <dxi-column dataField="title" dataType="string" sortOrder="asc"></dxi-column>
    <dxi-column dataField="author" dataType="string"></dxi-column>
    <dxi-column dataField="publish" dataType="date" cellTemplate="publish"></dxi-column>
    <div *dxTemplate="let data of 'publish'">
      <div>{{data.text | date}}</div>
    </div>
    <dxi-column dataField="genre" dataType="string">
      <dxo-lookup [dataSource]="genres"></dxo-lookup>
    </dxi-column>

    <!-- <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [allowedPageSizes]="[5,6,7]" [showPageSizeSelector]="true"></dxo-pager> -->

    <!-- <dxo-column-chooser [enabled]="true"></dxo-column-chooser> -->
    <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
    <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->

    <!--! Add custom field form editing -->
    <dxi-column dataField="isAccess" dataType="boolean" [visible]="false"></dxi-column>

    <!--! Edit & Save Datagrid -->
    <dxo-editing mode="form" [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true">
      <dxo-form>
        <dxi-item dataField="title" dataType="string">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="genre" dataType="string">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="author" dataType="string">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="publish" dataType="date">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="isAccess" dataType="boolean">
          <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
        </dxi-item>
        <!-- <dxi-item dataField="isAccess" editorType="dxTextBox">
        </dxi-item> -->
        <!-- <div *dxTemplate="let data of 'isAccess'">
          <dx-check-box [value]="data.editorOptions.value" text="Label">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dx-check-box>
        </div> -->
      </dxo-form>
    </dxo-editing>

    <!-- <dxo-scrolling mode="infinite"></dxo-scrolling> -->

    <!--! Custom buttons Action  -->
    <dxi-column type="buttons" caption="Actions">
      <dxi-button name="edit" icon="edit"></dxi-button>
      <dxi-button template="detailIcon">
        <div *dxTemplate="let data of 'detailIcon'">
          <dx-button icon="doc" id="detailButton" #detailButton (onClick)="onDetailButton(data)"></dx-button>
        </div>
      </dxi-button>
      <dxi-button name="delete" icon="close"></dxi-button>
      <!-- <dxi-button template="detailDelete">
        <div *dxTemplate="let data of 'detailDelete'">
          <dx-button icon="close" id="deleteButton" #detailDelete (onClick)="onDeleteButton(data)"></dx-button>
        </div>
      </dxi-button> -->
      <dxi-button name="save" icon="save"></dxi-button>
    </dxi-column>

  </dx-data-grid>

  <!--! Element popup -->
  <dx-popup [(visible)]="isPopupVisible" [hideOnOutsideClick]="true" contentTemplate="popup-content" [height]="150"
    [width]="200" [resizeEnabled]="true" [showTitle]="false">
    <div *dxTemplate="let data of 'popup-content'">
      <h1 class="popup-body">Berhasil</h1>
    </div>
  </dx-popup>

</div>
