
/* ::ng-deep .dx-tab.dx-tab-selected {
  background-color: rgb(163, 163, 163);
} */
::ng-deep .dx-theme-generic-typography {
  margin: 0
}

#container {
  padding: 20px;
}

#tabs {
  margin-bottom: 20px;
}
.active {
  font-weight: bold;
}
